
/* Contenedor de los selectores */
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; 
  height: 400px; 
}

/* Selectores de tiempo */
.selector {
  font-size: var(--font-size-extra-large);
  padding: 10px;
  border-radius: var(--border-radius);
  font-size: 50px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  border-width: 2px;
  width: 100%;
  height: 100%;
  border-color: #cccccc;
  outline: none;
  box-shadow: black;
  transition: all 0.4s ease;
}

.selector:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff, 0 0 0 4px #ffffff;
  background-color: aliceblue;
  color: #0015ff
}

/* Div de los labels */
.label {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #F5F6FA;
}

/* Div principal */
.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F6FA;
  border-radius: 80px;
  box-shadow: 6px 8px 12px oklch(var(--s));
  width: 800px; 
  height: 400px; 
}

/* Contador de la cuenta regresiva */
.coundown {
  display: flex;
  justify-content: center;
  margin: 10%;
  color: oklch(var(--b3));
  font-size: 5rem;
  font-weight: bold;
}

/* Contenedor de los botones */
.column {
  display: flex;
  justify-content: center;
  gap: 40px;
} 
