
:root {
  --primary-color: rgb(30, 138, 227);
  --secondary-color: #f9f9f9;
  --border-radius: 12px;
  --box-shadow-color: rgba(201, 109, 52, 0.648);
  --font-size-large: 30px;
  --font-size-extra-large: 50px;
}


/* Contenedor de los selectores */
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 80px;
  box-shadow: 0 0 15px 15px rgba(201, 109, 52, 0.648);
  width: 800px; 
  height: 400px; 
}

/* Boton de start */
.btn {
  font-size: var(--font-size-large);
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scaleX(1.2) scaleY(1.2);
}

/* Selectores de tiempo */
.selector {
  font-size: var(--font-size-extra-large);
  padding: 10px;
  border-radius: var(--border-radius);
  font-size: 50px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  border-width: 2px;
  width: 100%;
  height: 100%;
  border-color: #cccccc;
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
  transition: all 0.4s ease;
}

.selector:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff, 0 0 0 4px #ffffff;
  background-color: aliceblue;
  color: #ff4500
}

/* Div de los labels */
.label {
  margin-bottom: 14px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
}

/* Div principal */
.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border-radius: 80px;
  box-shadow: 15px 15px 10px rgba(201, 109, 52, 0.648);
  width: 800px; 
  height: 400px; 
}

/* Contador de la cuenta regresiva */
.coundown {
  display: flex;
  justify-content: center;
  margin: 10%;
  color: black;
  font-size: 5rem;
  font-weight: bold;
}

/* Contenedor de los botones */
.column {
  display: flex;
  justify-content: center;
  gap: 40px;
} 

/* Botones */
.botons {
  font-size: 30px;
  display: flex;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  justify-content: space-between;
}

.botons:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scaleX(1.2) scaleY(1.2);
}

